.carousel-container {
    width: 75%;
    margin: auto;
}

.carousel-card {
    background: #011627;
    border-radius: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column; 
    padding: 1rem;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.carousel-img {
    height: 44px;
    width: 44px;
}

.carousel-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    padding: 4px;
}

.read-more-button {
    background-color: #FDFFFC;
    color: #011627;
    font-size: 12px;
    font-family: "Inter", sans-serif;
    padding: 10px 24px;
    border-radius: 4px;
    border: 2px solid #886176;
    margin-top: auto;
}

.read-more-button:hover {
    background-color: #886176;color: white;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
}

.slick-slide > div {
    margin: 0 5px;
    
}

