

.stack-card {
  color: white;
  margin: 0rem 3rem;
  padding: 1.5rem;
  border-radius: 1rem;
  margin-bottom: 40px;
}

.about-me-container {
    display: flex;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
}

.profile-image {
  width: 180px;
  object-fit: cover;
  border-radius: 1rem;
  margin-left: 10px;
}

