.stack-wrapper {
  position: relative;
  min-height: 400vh;
}

.stack-card {
  color: white;
  margin: 0rem 3rem;
  padding: 1.5rem;
  border-radius: 1rem;
  position: sticky;
  margin-bottom: 7rem;
  min-height: 20rem;
}

.about-me-container {
    display: flex;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
}

.profile-image {
  height: 400px;
  object-fit: cover;
  border-radius: 1rem;
}

